<h1>头部</h1>
<form action="/doAdd" method="post"> 
    <div>
        <label for="name">用户名</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="password">密码</label>
        <input type="text" name="password">
    </div>
    <div><input type="submit" value="提交"></div>
</form>